.button {
    background-color: #fff;
    border: none;
    color: #c5c5c5;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 20px 20px 20px;
}

.button:hover {
    color:  #3f5678;
    outline: none;
    outline-offset: -2px;
    box-shadow: 0 2px 0 #3f5678;
}

.button:focus {
    color:  #3f5678;
    outline: none;
    outline-offset: -2px;
    box-shadow: 0 2px 0 #3f5678;
}

.time {
    background-color: #fff;
    border: none;
    color: #333;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 20px 10px 20px;
}

.time:hover {
    outline: none;
    outline-offset: -2px;
    box-shadow: 0 2px 0 #333;
}

.time:focus {
    outline: none;
    outline-offset: -2px;
    box-shadow: 0 2px 0 #333;
}
